html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}
.s2{
  display:flex;
  justify-content: space-between;
}
.s1{
  width: calc(50%);
  margin-left: 5em;
  margin-right: 5em;
}
body {
  padding: 0;
  margin: 0;
  font-family: calibri , 'Courier New', monospace;
  font-size: 1.6rem;
  background-image: url(images/buttons.png);
  color: #000;
}

a {
  color: #c39;
}
h1 {
  text-align: center;
  background-color: #fff;
}

main {
  margin: 2rem 0;
  text-align: center;
}

#game {
  border: 1px solid #333;
}

h2 {
  text-align: center;
  background-color: #f00;
}
